from flask import Flask, request, render_template, redirect, url_for, flash, session, jsonify
import mysql.connector
from flask_cors import CORS
from datetime import datetime
from geopy.geocoders import Nominatim
from dotenv import load_dotenv
import google.generativeai as genai
import os